@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Prompt:wght@400;600&family=Quattrocento+Sans&family=Roboto:wght@300;400&family=Syne+Tactile&family=Ubuntu&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(black,blue,white);
    background-attachment: fixed;

    overflow-x: hidden;
}

.btn{
    margin-top: 300px;
    cursor: pointer;
}
.line{
    height: 300px;
    width: 350px;
    border-bottom: 5px solid black;
    margin-left: 470px;
}
.back-button{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.back-button:hover{
    background-color: rgb(238, 126, 86);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.play-button{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.play-button:hover{
    background-color: rgb(238, 126, 86);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.pause-button{
    height: 50px;
    width: 70p5;
    margin-left: 30px;
}
.pause-button:hover{
    background-color: rgb(238, 126, 86);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.next-button{
    height: 50px;
    width: 50px;
    margin-left: 40px;
}
.next-button:hover{
    background-color: rgb(238, 126, 86);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#title{
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    position: relative;
    left: 480px;
    top: 290px;
}